.profile__about {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 470px) {
  .profile__about {
    text-align: center;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 320px) {
  .profile__about {
    font-size: 14px;
    width: 100%;
    padding-top: 7px;
  }
}