.popup__close {
  background-image: url(../../../images/close-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  border: none;  
  width: 32px;
  aspect-ratio: 1 / 1;
  position: absolute;
  top: -40px;
  right: -30px;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 320px) {
  .popup__close {
    width: 20px;
    position: absolute;
    top: -30px;
    right: 0;
  }
}