.profile__edit-btn {
  background: url(../../../images/edit.svg) no-repeat;
  background-position: center;
  min-width: 24px;
  aspect-ratio: 1 / 1;
  margin: 0;
  padding: 0;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  align-self: flex-start;
}

.profile__edit-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 320px) {
  .profile__edit-btn {
    min-width: 18px;
  }
}