.profile__edit-btn {
  background: url(../../../images/edit.svg) no-repeat;
  background-position: center;
  min-width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  align-self: center;
}

.profile__edit-btn:hover {
  opacity: 0.5;

}

@media screen and (max-width: 320px) {
  .profile__edit-btn {
    width: 18px;
    height: 18px;
  }
}