.popup__about {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #000000;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 13px 0;
}

.popup__about:active {
  border: 1px solid #10025f;
}

@media screen and (max-width: 320px) {
  .popup__about {
    max-width: 238px;
    margin-bottom: 45px;
  }
}